/* Younp can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "bootstrap/dist/css/bootstrap.min.css"; */
/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */

body{
    margin: 0;
    font-family: Roboto, sans-serif;
}
