<mat-card>
  <form #itemForm="ngForm" (ngSubmit)="save(itemForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{item.name ? 'Edit' : 'Add'}} Item</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- HIDDEN item id -->
      <input type="hidden" name="id" [(ngModel)]="item.id">

      <!-- item name -->
      <mat-form-field>
        <input matInput placeholder="Item Name" [(ngModel)]="item.name"
               required name="name" #name>
      </mat-form-field>

      <!-- item value -->
      <mat-form-field>
        <input matInput placeholder="Item Value" [(ngModel)]="item.value" name="value" #value>
      </mat-form-field>

      <!-- item info -->
      <mat-form-field>
        <input matInput placeholder="Item Info" [(ngModel)]="item.info" name="info" #info>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!itemForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(item.id)"
              *ngIf="item.id" type="button">Delete</button>
      <a mat-button routerLink="/item-list">Cancel</a>
    </mat-card-actions>
    
  </form>
</mat-card>