<mat-card>
  <mat-card-title>Item List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of items">
        <h3 mat-line>
          <a mat-button [routerLink]="['/item-edit', item.id]">{{item.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/item-add']">Add</button>
</mat-card>